USE [MUSEO_PICTORICO]
GO
/****** Object:  User [tomas_delizia]    Script Date: 27/08/2021 8:52:41 am ******/
CREATE USER [tomas_delizia] FOR LOGIN [tomas_delizia] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[EMPLEADOS]    Script Date: 27/08/2021 8:52:41 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLEADOS](
	[id_empleado] [int] IDENTITY(1,1) NOT NULL,
	[dni] [int] NOT NULL,
	[cuit] [varchar](13) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[apellido] [varchar](50) NOT NULL,
	[mail] [varchar](50) NULL,
	[id_cargo] [tinyint] NULL,
	[id_sede] [int] NULL,
	[fecha_nacimiento] [date] NOT NULL,
	[fecha_ingreso] [date] NOT NULL,
	[calle_nombre] [varchar](50) NULL,
	[calle_numero] [int] NULL,
	[telefono] [varchar](30) NULL,
	[id_sexo] [tinyint] NULL,
	[codigo_validacion] [varchar](50) NULL,
 CONSTRAINT [empleados_id_empleado_pk] PRIMARY KEY CLUSTERED 
(
	[id_empleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[GUIAS]    Script Date: 27/08/2021 8:52:41 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[GUIAS] AS
SELECT * FROM EMPLEADOS WHERE id_cargo = 8;
GO
/****** Object:  Table [dbo].[ASIGNACIONES_DE_GUIA]    Script Date: 27/08/2021 8:52:41 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ASIGNACIONES_DE_GUIA](
	[id_asignacion] [int] IDENTITY(1,1) NOT NULL,
	[id_guia] [int] NULL,
	[fecha_hora_inicio] [datetime] NOT NULL,
	[fecha_hora_fin] [datetime] NOT NULL,
 CONSTRAINT [asignaciones_guia_id_asignacion_pk] PRIMARY KEY CLUSTERED 
(
	[id_asignacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ASIGNACIONES_DE_GUIA_X_RESERVA]    Script Date: 27/08/2021 8:52:41 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ASIGNACIONES_DE_GUIA_X_RESERVA](
	[id_reserva] [int] NOT NULL,
	[id_asignacion] [int] NOT NULL,
 CONSTRAINT [asig_guia_x_reserva_id_res_id_asig_pk] PRIMARY KEY CLUSTERED 
(
	[id_reserva] ASC,
	[id_asignacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CAMBIOS_DE_ESTADO]    Script Date: 27/08/2021 8:52:41 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CAMBIOS_DE_ESTADO](
	[id_cambio_de_estado] [int] IDENTITY(1,1) NOT NULL,
	[id_estado_reserva] [tinyint] NOT NULL,
	[fecha_hora_inicio] [datetime] NOT NULL,
	[fecha_hora_fin] [datetime] NULL,
 CONSTRAINT [cambios_de_estado_id_cambio_estado_pk] PRIMARY KEY CLUSTERED 
(
	[id_cambio_de_estado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CAMBIOS_DE_ESTADO_DE_RESERVAS]    Script Date: 27/08/2021 8:52:41 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CAMBIOS_DE_ESTADO_DE_RESERVAS](
	[id_reserva] [int] NOT NULL,
	[id_cambio_de_estado] [int] NOT NULL,
 CONSTRAINT [cambios_estado_x_reserva_id_res_id_cambio_pk] PRIMARY KEY CLUSTERED 
(
	[id_reserva] ASC,
	[id_cambio_de_estado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CARGOS]    Script Date: 27/08/2021 8:52:41 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CARGOS](
	[id_cargo] [tinyint] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[descripcion] [varchar](max) NULL,
 CONSTRAINT [cargos_id_cargo_pk] PRIMARY KEY CLUSTERED 
(
	[id_cargo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DETALLES_DE_EXPOSICION]    Script Date: 27/08/2021 8:52:41 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETALLES_DE_EXPOSICION](
	[id_exposicion] [int] NOT NULL,
	[id_obra] [int] NOT NULL,
	[lugar_asignado] [int] NULL,
 CONSTRAINT [detalles_expo_id_expo_id_obra_pk] PRIMARY KEY CLUSTERED 
(
	[id_exposicion] ASC,
	[id_obra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIAS_DE_SEMANA]    Script Date: 27/08/2021 8:52:41 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIAS_DE_SEMANA](
	[id_dia] [tinyint] NOT NULL,
	[nombre] [varchar](10) NOT NULL,
 CONSTRAINT [dias_de_semana_id_dia_pk] PRIMARY KEY CLUSTERED 
(
	[id_dia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESCUELAS]    Script Date: 27/08/2021 8:52:41 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESCUELAS](
	[id_escuela] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[mail] [varchar](50) NULL,
	[calle_nombre] [varchar](50) NULL,
	[calle_numero] [int] NULL,
	[telefono_celular] [varchar](30) NULL,
	[telefono_fijo] [varchar](30) NULL,
 CONSTRAINT [escuelas_id_escuela_pk] PRIMARY KEY CLUSTERED 
(
	[id_escuela] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESTADOS_DE_RESERVA]    Script Date: 27/08/2021 8:52:41 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESTADOS_DE_RESERVA](
	[id_estado_reserva] [tinyint] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[descripcion] [varchar](max) NULL,
 CONSTRAINT [estados_de_reserva_id_estado_reserva_pk] PRIMARY KEY CLUSTERED 
(
	[id_estado_reserva] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EXPOSICIONES]    Script Date: 27/08/2021 8:52:41 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EXPOSICIONES](
	[id_exposicion] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[id_tipo_exposicion] [tinyint] NOT NULL,
	[fecha_inicio] [date] NULL,
	[fecha_fin] [date] NULL,
	[fecha_inicio_replanificada] [date] NULL,
	[fecha_fin_replanificada] [date] NULL,
	[hora_apertura] [time](7) NULL,
	[hora_cierre] [time](7) NULL,
	[id_empleado_creador] [int] NULL,
 CONSTRAINT [exposiciones_id_exposicion_pk] PRIMARY KEY CLUSTERED 
(
	[id_exposicion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EXPOSICIONES_X_RESERVAS]    Script Date: 27/08/2021 8:52:41 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EXPOSICIONES_X_RESERVAS](
	[id_reserva] [int] NOT NULL,
	[id_exposicion] [int] NOT NULL,
 CONSTRAINT [expo_x_reserva_id_reserva_id_expo_pk] PRIMARY KEY CLUSTERED 
(
	[id_reserva] ASC,
	[id_exposicion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EXPOSICIONES_X_SEDES]    Script Date: 27/08/2021 8:52:41 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EXPOSICIONES_X_SEDES](
	[id_sede] [int] NOT NULL,
	[id_exposicion] [int] NOT NULL,
 CONSTRAINT [expo_x_sede_id_sede_id_expo_pk] PRIMARY KEY CLUSTERED 
(
	[id_sede] ASC,
	[id_exposicion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HORARIOS]    Script Date: 27/08/2021 8:52:41 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HORARIOS](
	[id_horario] [int] IDENTITY(1,1) NOT NULL,
	[hora_inicio] [time](7) NULL,
	[hora_fin] [time](7) NULL,
	[id_dia] [tinyint] NULL,
 CONSTRAINT [horarios_pk] PRIMARY KEY CLUSTERED 
(
	[id_horario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HORARIOS_DE_EMPLEADOS]    Script Date: 27/08/2021 8:52:41 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HORARIOS_DE_EMPLEADOS](
	[id_empleado] [int] NOT NULL,
	[id_horario] [int] NOT NULL,
 CONSTRAINT [horarios_de_empleados_id_emp_id_horario_pk] PRIMARY KEY CLUSTERED 
(
	[id_empleado] ASC,
	[id_horario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HORARIOS_DE_SEDES]    Script Date: 27/08/2021 8:52:41 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HORARIOS_DE_SEDES](
	[id_sede] [int] NOT NULL,
	[id_horario] [int] NOT NULL,
 CONSTRAINT [horarios_de_sedes_id_sede_id_horario_pk] PRIMARY KEY CLUSTERED 
(
	[id_sede] ASC,
	[id_horario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OBRAS]    Script Date: 27/08/2021 8:52:41 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OBRAS](
	[id_obra] [int] IDENTITY(1,1) NOT NULL,
	[nombre_obra] [varchar](50) NOT NULL,
	[id_artista] [int] NULL,
	[alto] [decimal](4, 2) NULL,
	[ancho] [decimal](4, 2) NULL,
	[peso] [decimal](6, 2) NULL,
	[valuacion] [decimal](11, 2) NULL,
	[duracion_resumida] [time](7) NULL,
	[duracion_extendida] [time](7) NULL,
	[fecha_creacion] [date] NULL,
	[fecha_primer_ingreso] [date] NULL,
	[fecha_registracion] [date] NULL,
	[id_estilo] [tinyint] NULL,
	[id_tecnica] [tinyint] NULL,
	[id_tematica] [tinyint] NULL,
	[descripcion] [varchar](max) NULL,
	[codigo_sensor] [int] NULL,
	[id_empleado_creador] [int] NOT NULL,
 CONSTRAINT [obras_id_obra_pk] PRIMARY KEY CLUSTERED 
(
	[id_obra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PUBLICOS_DESTINO]    Script Date: 27/08/2021 8:52:41 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PUBLICOS_DESTINO](
	[id_publico] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[caracteristicas] [varchar](max) NULL,
 CONSTRAINT [publicos_destino_id_publico_pk] PRIMARY KEY CLUSTERED 
(
	[id_publico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PUBLICOS_X_EXPOSICIONES]    Script Date: 27/08/2021 8:52:41 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PUBLICOS_X_EXPOSICIONES](
	[id_exposicion] [int] NOT NULL,
	[id_publico] [int] NOT NULL,
 CONSTRAINT [publi_x_expo_id_expo_id_publi_pk] PRIMARY KEY CLUSTERED 
(
	[id_exposicion] ASC,
	[id_publico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RESERVAS_DE_VISITA]    Script Date: 27/08/2021 8:52:41 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RESERVAS_DE_VISITA](
	[id_reserva] [int] NOT NULL,
	[cantidad_alumnos] [int] NOT NULL,
	[cantidad_alumnos_confirmada] [int] NULL,
	[fecha_hora_creacion] [datetime] NOT NULL,
	[fecha_hora_reserva] [datetime] NOT NULL,
	[duracion_estimada] [time](7) NOT NULL,
	[hora_inicio_real] [time](7) NULL,
	[hora_fin_real] [time](7) NULL,
	[id_escuela] [int] NOT NULL,
	[id_sede] [int] NOT NULL,
	[id_empleado_creador] [int] NOT NULL,
 CONSTRAINT [reservas_de_visita_id_reserva_pk] PRIMARY KEY CLUSTERED 
(
	[id_reserva] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SEDES]    Script Date: 27/08/2021 8:52:41 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SEDES](
	[id_sede] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[cantidad_maxima_visitantes] [int] NOT NULL,
	[cantidad_maxima_por_guia] [int] NOT NULL,
	[calle_nombre] [varchar](50) NULL,
	[calle_numero] [int] NULL,
 CONSTRAINT [id_sede_pk] PRIMARY KEY CLUSTERED 
(
	[id_sede] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SESIONES]    Script Date: 27/08/2021 8:52:41 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SESIONES](
	[id_usuario] [int] NOT NULL,
	[fecha_hora_inicio] [datetime] NOT NULL,
	[fecha_hora_fin] [datetime] NULL,
 CONSTRAINT [sesiones_id_usuario_fecha_hora_inicio_pk] PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC,
	[fecha_hora_inicio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SEXOS]    Script Date: 27/08/2021 8:52:41 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SEXOS](
	[id_sexo] [tinyint] NOT NULL,
	[nombre] [varchar](30) NOT NULL,
 CONSTRAINT [sexos_id_sexo_pk] PRIMARY KEY CLUSTERED 
(
	[id_sexo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPOS_DE_EXPOSICION]    Script Date: 27/08/2021 8:52:41 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPOS_DE_EXPOSICION](
	[id_tipo_exposicion] [tinyint] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[descripcion] [varchar](max) NULL,
 CONSTRAINT [tipos_de_exposicion_id_tipo_pk] PRIMARY KEY CLUSTERED 
(
	[id_tipo_exposicion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPOS_DE_VISITA]    Script Date: 27/08/2021 8:52:41 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPOS_DE_VISITA](
	[id_tipo_visita] [tinyint] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
 CONSTRAINT [tipos_de_visita_id_tipo_visita_pk] PRIMARY KEY CLUSTERED 
(
	[id_tipo_visita] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIOS]    Script Date: 27/08/2021 8:52:41 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIOS](
	[id_usuario] [int] IDENTITY(1,1) NOT NULL,
	[nombre_usuario] [varchar](50) NOT NULL,
	[contrasena] [varchar](50) NOT NULL,
	[caducidad] [date] NULL,
	[id_empleado] [int] NOT NULL,
 CONSTRAINT [usuarios_id_usuario_pk] PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ASIGNACIONES_DE_GUIA] ON 

INSERT [dbo].[ASIGNACIONES_DE_GUIA] ([id_asignacion], [id_guia], [fecha_hora_inicio], [fecha_hora_fin]) VALUES (1, 8, CAST(N'2020-05-01T13:25:15.000' AS DateTime), CAST(N'2020-05-01T15:25:15.000' AS DateTime))
INSERT [dbo].[ASIGNACIONES_DE_GUIA] ([id_asignacion], [id_guia], [fecha_hora_inicio], [fecha_hora_fin]) VALUES (2, 9, CAST(N'2020-06-07T14:00:15.000' AS DateTime), CAST(N'2020-06-07T15:50:15.000' AS DateTime))
INSERT [dbo].[ASIGNACIONES_DE_GUIA] ([id_asignacion], [id_guia], [fecha_hora_inicio], [fecha_hora_fin]) VALUES (3, 10, CAST(N'2020-02-04T17:30:20.000' AS DateTime), CAST(N'2020-02-04T19:30:15.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[ASIGNACIONES_DE_GUIA] OFF
GO
INSERT [dbo].[ASIGNACIONES_DE_GUIA_X_RESERVA] ([id_reserva], [id_asignacion]) VALUES (1, 1)
INSERT [dbo].[ASIGNACIONES_DE_GUIA_X_RESERVA] ([id_reserva], [id_asignacion]) VALUES (2, 2)
INSERT [dbo].[ASIGNACIONES_DE_GUIA_X_RESERVA] ([id_reserva], [id_asignacion]) VALUES (3, 3)
GO
SET IDENTITY_INSERT [dbo].[CAMBIOS_DE_ESTADO] ON 

INSERT [dbo].[CAMBIOS_DE_ESTADO] ([id_cambio_de_estado], [id_estado_reserva], [fecha_hora_inicio], [fecha_hora_fin]) VALUES (1, 3, CAST(N'2021-06-06T10:00:00.000' AS DateTime), CAST(N'2021-06-06T10:30:00.000' AS DateTime))
INSERT [dbo].[CAMBIOS_DE_ESTADO] ([id_cambio_de_estado], [id_estado_reserva], [fecha_hora_inicio], [fecha_hora_fin]) VALUES (2, 6, CAST(N'2021-10-01T19:00:00.000' AS DateTime), CAST(N'2021-10-12T21:00:00.000' AS DateTime))
INSERT [dbo].[CAMBIOS_DE_ESTADO] ([id_cambio_de_estado], [id_estado_reserva], [fecha_hora_inicio], [fecha_hora_fin]) VALUES (3, 2, CAST(N'2020-08-12T08:00:00.000' AS DateTime), CAST(N'2020-08-24T13:45:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[CAMBIOS_DE_ESTADO] OFF
GO
INSERT [dbo].[CAMBIOS_DE_ESTADO_DE_RESERVAS] ([id_reserva], [id_cambio_de_estado]) VALUES (1, 1)
INSERT [dbo].[CAMBIOS_DE_ESTADO_DE_RESERVAS] ([id_reserva], [id_cambio_de_estado]) VALUES (1, 9)
INSERT [dbo].[CAMBIOS_DE_ESTADO_DE_RESERVAS] ([id_reserva], [id_cambio_de_estado]) VALUES (2, 2)
GO
SET IDENTITY_INSERT [dbo].[CARGOS] ON 

INSERT [dbo].[CARGOS] ([id_cargo], [nombre], [descripcion]) VALUES (1, N'Responsable de Obras', N'Persona responsable de registrar la adquisición de las Obras, y la parametrización de la información necesaria para su administración.')
INSERT [dbo].[CARGOS] ([id_cargo], [nombre], [descripcion]) VALUES (2, N'Responsable de Infraestructura', N'Persona responsable de la registración de las sedes y su estructura física.')
INSERT [dbo].[CARGOS] ([id_cargo], [nombre], [descripcion]) VALUES (3, N'Responsable de Préstamos', N'Responsable de gestionar los préstamos de Obras tanto de Artistas como a otros Museos.')
SET IDENTITY_INSERT [dbo].[CARGOS] OFF
GO
INSERT [dbo].[DETALLES_DE_EXPOSICION] ([id_exposicion], [id_obra], [lugar_asignado]) VALUES (1, 1, 1)
INSERT [dbo].[DETALLES_DE_EXPOSICION] ([id_exposicion], [id_obra], [lugar_asignado]) VALUES (2, 1, 1)
INSERT [dbo].[DETALLES_DE_EXPOSICION] ([id_exposicion], [id_obra], [lugar_asignado]) VALUES (2, 2, 3)
GO
INSERT [dbo].[DIAS_DE_SEMANA] ([id_dia], [nombre]) VALUES (0, N'LUNES')
INSERT [dbo].[DIAS_DE_SEMANA] ([id_dia], [nombre]) VALUES (1, N'MARTES')
INSERT [dbo].[DIAS_DE_SEMANA] ([id_dia], [nombre]) VALUES (2, N'MIERCOLES')
GO
SET IDENTITY_INSERT [dbo].[EMPLEADOS] ON 

INSERT [dbo].[EMPLEADOS] ([id_empleado], [dni], [cuit], [nombre], [apellido], [mail], [id_cargo], [id_sede], [fecha_nacimiento], [fecha_ingreso], [calle_nombre], [calle_numero], [telefono], [id_sexo], [codigo_validacion]) VALUES (1, 39895674, N'23-39895674-3', N'María', N'Robles', N'mrobles@hotmail.com', 1, 1, CAST(N'1995-04-09' AS Date), CAST(N'2010-08-05' AS Date), N'Francisco Aston', 3190, N'3515459874', 1, N'1234')
INSERT [dbo].[EMPLEADOS] ([id_empleado], [dni], [cuit], [nombre], [apellido], [mail], [id_cargo], [id_sede], [fecha_nacimiento], [fecha_ingreso], [calle_nombre], [calle_numero], [telefono], [id_sexo], [codigo_validacion]) VALUES (2, 40156147, N'23-40156147-4', N'Lautaro', N'Rodriguez', N'lautiro@hotmail.com', 2, 2, CAST(N'1996-12-12' AS Date), CAST(N'2018-01-02' AS Date), N'Felix Olmedo', 4578, N'3513140012', 0, N'5678')
INSERT [dbo].[EMPLEADOS] ([id_empleado], [dni], [cuit], [nombre], [apellido], [mail], [id_cargo], [id_sede], [fecha_nacimiento], [fecha_ingreso], [calle_nombre], [calle_numero], [telefono], [id_sexo], [codigo_validacion]) VALUES (3, 41256365, N'23-41256365-3', N'Milagros', N'Ramos', N'miliramos@hotmail.com', 3, 3, CAST(N'1997-06-04' AS Date), CAST(N'2016-04-01' AS Date), N'Melincue', 7894, N'3513140165', 1, N'1423')
SET IDENTITY_INSERT [dbo].[EMPLEADOS] OFF
GO
SET IDENTITY_INSERT [dbo].[ESCUELAS] ON 

INSERT [dbo].[ESCUELAS] ([id_escuela], [nombre], [mail], [calle_nombre], [calle_numero], [telefono_celular], [telefono_fijo]) VALUES (1, N'Colegio San Pedro Apóstol', N'sanpedro@sanpedroapostol.edu.ar', N'Av. del Piamonte', NULL, N'3514846584', N'4846584')
INSERT [dbo].[ESCUELAS] ([id_escuela], [nombre], [mail], [calle_nombre], [calle_numero], [telefono_celular], [telefono_fijo]) VALUES (2, N'Academia Argüello', N'institucional@aa.edu.ar', N'Pozo de la Loma Esq. Av Rafael Núñez
Argüello', NULL, N'3513450574', N'3450574')
INSERT [dbo].[ESCUELAS] ([id_escuela], [nombre], [mail], [calle_nombre], [calle_numero], [telefono_celular], [telefono_fijo]) VALUES (3, N'Colegio Alemán', N'info@colegioalemancba.edu.ar', N'Recta Martinoli Esq. Neper', 6230, N'543420834', N'3420834')
SET IDENTITY_INSERT [dbo].[ESCUELAS] OFF
GO
SET IDENTITY_INSERT [dbo].[ESTADOS_DE_RESERVA] ON 

INSERT [dbo].[ESTADOS_DE_RESERVA] ([id_estado_reserva], [nombre], [descripcion]) VALUES (1, N'Pendiente de Confirmación', N'Estado que se asigna incialmente cuando la escuela efectua una reserva.')
INSERT [dbo].[ESTADOS_DE_RESERVA] ([id_estado_reserva], [nombre], [descripcion]) VALUES (2, N'Escuela Notificada', N'Estado que se asgina de no confirmar la reserva una semana antes de la fecha programada, al enviar automáticamente un recordatorio a la escuela mediante e-mail y WhatsApp.')
INSERT [dbo].[ESTADOS_DE_RESERVA] ([id_estado_reserva], [nombre], [descripcion]) VALUES (3, N'Cancelada', N'Estado que se asigna cuando la escuela decide cancelar una reserva, mientras no haya sido anulada o se haya realizado la visita asociada.')
SET IDENTITY_INSERT [dbo].[ESTADOS_DE_RESERVA] OFF
GO
SET IDENTITY_INSERT [dbo].[EXPOSICIONES] ON 

INSERT [dbo].[EXPOSICIONES] ([id_exposicion], [nombre], [id_tipo_exposicion], [fecha_inicio], [fecha_fin], [fecha_inicio_replanificada], [fecha_fin_replanificada], [hora_apertura], [hora_cierre], [id_empleado_creador]) VALUES (1, N'Contemporanea', 1, CAST(N'2021-06-01' AS Date), CAST(N'2021-07-26' AS Date), NULL, NULL, CAST(N'08:00:00' AS Time), CAST(N'17:00:00' AS Time), 3)
INSERT [dbo].[EXPOSICIONES] ([id_exposicion], [nombre], [id_tipo_exposicion], [fecha_inicio], [fecha_fin], [fecha_inicio_replanificada], [fecha_fin_replanificada], [hora_apertura], [hora_cierre], [id_empleado_creador]) VALUES (2, N'Abstracta', 2, CAST(N'2021-05-01' AS Date), CAST(N'2021-09-06' AS Date), NULL, NULL, CAST(N'09:00:00' AS Time), CAST(N'18:00:00' AS Time), 1)
INSERT [dbo].[EXPOSICIONES] ([id_exposicion], [nombre], [id_tipo_exposicion], [fecha_inicio], [fecha_fin], [fecha_inicio_replanificada], [fecha_fin_replanificada], [hora_apertura], [hora_cierre], [id_empleado_creador]) VALUES (3, N'Rupestre', 2, CAST(N'2021-07-01' AS Date), CAST(N'2021-08-06' AS Date), NULL, NULL, CAST(N'08:00:00' AS Time), CAST(N'16:30:00' AS Time), 2)
SET IDENTITY_INSERT [dbo].[EXPOSICIONES] OFF
GO
INSERT [dbo].[EXPOSICIONES_X_RESERVAS] ([id_reserva], [id_exposicion]) VALUES (1, 4)
INSERT [dbo].[EXPOSICIONES_X_RESERVAS] ([id_reserva], [id_exposicion]) VALUES (1, 5)
INSERT [dbo].[EXPOSICIONES_X_RESERVAS] ([id_reserva], [id_exposicion]) VALUES (2, 3)
GO
INSERT [dbo].[EXPOSICIONES_X_SEDES] ([id_sede], [id_exposicion]) VALUES (1, 2)
INSERT [dbo].[EXPOSICIONES_X_SEDES] ([id_sede], [id_exposicion]) VALUES (1, 3)
INSERT [dbo].[EXPOSICIONES_X_SEDES] ([id_sede], [id_exposicion]) VALUES (1, 6)
GO
SET IDENTITY_INSERT [dbo].[HORARIOS] ON 

INSERT [dbo].[HORARIOS] ([id_horario], [hora_inicio], [hora_fin], [id_dia]) VALUES (1, CAST(N'08:00:00' AS Time), CAST(N'16:00:00' AS Time), 0)
INSERT [dbo].[HORARIOS] ([id_horario], [hora_inicio], [hora_fin], [id_dia]) VALUES (2, CAST(N'09:00:00' AS Time), CAST(N'17:00:00' AS Time), 0)
INSERT [dbo].[HORARIOS] ([id_horario], [hora_inicio], [hora_fin], [id_dia]) VALUES (3, CAST(N'10:00:00' AS Time), CAST(N'18:00:00' AS Time), 0)
SET IDENTITY_INSERT [dbo].[HORARIOS] OFF
GO
INSERT [dbo].[HORARIOS_DE_EMPLEADOS] ([id_empleado], [id_horario]) VALUES (1, 1)
INSERT [dbo].[HORARIOS_DE_EMPLEADOS] ([id_empleado], [id_horario]) VALUES (2, 2)
INSERT [dbo].[HORARIOS_DE_EMPLEADOS] ([id_empleado], [id_horario]) VALUES (3, 15)
GO
SET IDENTITY_INSERT [dbo].[OBRAS] ON 

SET IDENTITY_INSERT [dbo].[OBRAS] OFF
GO
SET IDENTITY_INSERT [dbo].[PUBLICOS_DESTINO] ON 

INSERT [dbo].[PUBLICOS_DESTINO] ([id_publico], [nombre], [caracteristicas]) VALUES (1, N'Público General', N'Exposición destinada a cualquier tipo de visitante')
INSERT [dbo].[PUBLICOS_DESTINO] ([id_publico], [nombre], [caracteristicas]) VALUES (2, N'Menores', N'Exposición destinada a chicos de entre 4 y 17 años')
INSERT [dbo].[PUBLICOS_DESTINO] ([id_publico], [nombre], [caracteristicas]) VALUES (3, N'Jubilados', N'Exposición destinada a jubilados')
SET IDENTITY_INSERT [dbo].[PUBLICOS_DESTINO] OFF
GO
INSERT [dbo].[PUBLICOS_X_EXPOSICIONES] ([id_exposicion], [id_publico]) VALUES (1, 1)
INSERT [dbo].[PUBLICOS_X_EXPOSICIONES] ([id_exposicion], [id_publico]) VALUES (1, 2)
INSERT [dbo].[PUBLICOS_X_EXPOSICIONES] ([id_exposicion], [id_publico]) VALUES (2, 1)
GO
INSERT [dbo].[RESERVAS_DE_VISITA] ([id_reserva], [cantidad_alumnos], [cantidad_alumnos_confirmada], [fecha_hora_creacion], [fecha_hora_reserva], [duracion_estimada], [hora_inicio_real], [hora_fin_real], [id_escuela], [id_sede], [id_empleado_creador]) VALUES (1, 200, 200, CAST(N'2020-06-06T12:23:00.000' AS DateTime), CAST(N'2020-06-20T10:30:00.000' AS DateTime), CAST(N'00:50:00' AS Time), CAST(N'10:30:00' AS Time), CAST(N'11:30:00' AS Time), 1, 2, 1)
INSERT [dbo].[RESERVAS_DE_VISITA] ([id_reserva], [cantidad_alumnos], [cantidad_alumnos_confirmada], [fecha_hora_creacion], [fecha_hora_reserva], [duracion_estimada], [hora_inicio_real], [hora_fin_real], [id_escuela], [id_sede], [id_empleado_creador]) VALUES (2, 200, 180, CAST(N'2020-08-09T09:12:30.000' AS DateTime), CAST(N'2020-08-13T08:40:00.000' AS DateTime), CAST(N'00:35:00' AS Time), CAST(N'08:45:00' AS Time), CAST(N'09:30:00' AS Time), 2, 4, 2)
INSERT [dbo].[RESERVAS_DE_VISITA] ([id_reserva], [cantidad_alumnos], [cantidad_alumnos_confirmada], [fecha_hora_creacion], [fecha_hora_reserva], [duracion_estimada], [hora_inicio_real], [hora_fin_real], [id_escuela], [id_sede], [id_empleado_creador]) VALUES (3, 150, 136, CAST(N'2021-02-10T16:53:43.000' AS DateTime), CAST(N'2021-03-01T14:00:00.000' AS DateTime), CAST(N'00:30:00' AS Time), CAST(N'14:10:00' AS Time), CAST(N'14:43:00' AS Time), 5, 3, 5)
GO
SET IDENTITY_INSERT [dbo].[SEDES] ON 

INSERT [dbo].[SEDES] ([id_sede], [nombre], [cantidad_maxima_visitantes], [cantidad_maxima_por_guia], [calle_nombre], [calle_numero]) VALUES (1, N'Sede Cordoba', 600, 65, N'Obispo Trejos', 825)
INSERT [dbo].[SEDES] ([id_sede], [nombre], [cantidad_maxima_visitantes], [cantidad_maxima_por_guia], [calle_nombre], [calle_numero]) VALUES (2, N'Sede Buenos Aires', 500, 25, N'Rondeau', 300)
INSERT [dbo].[SEDES] ([id_sede], [nombre], [cantidad_maxima_visitantes], [cantidad_maxima_por_guia], [calle_nombre], [calle_numero]) VALUES (3, N'Bellas Artes', 400, 30, N'Brasil', 128)
SET IDENTITY_INSERT [dbo].[SEDES] OFF
GO
INSERT [dbo].[SESIONES] ([id_usuario], [fecha_hora_inicio], [fecha_hora_fin]) VALUES (1, CAST(N'2020-05-20T09:00:00.000' AS DateTime), CAST(N'2020-05-20T09:30:00.000' AS DateTime))
INSERT [dbo].[SESIONES] ([id_usuario], [fecha_hora_inicio], [fecha_hora_fin]) VALUES (1, CAST(N'2020-05-23T08:00:00.000' AS DateTime), CAST(N'2020-05-23T10:45:00.000' AS DateTime))
INSERT [dbo].[SESIONES] ([id_usuario], [fecha_hora_inicio], [fecha_hora_fin]) VALUES (1, CAST(N'2020-05-23T12:00:00.000' AS DateTime), CAST(N'2020-05-23T12:22:00.000' AS DateTime))
GO
INSERT [dbo].[SEXOS] ([id_sexo], [nombre]) VALUES (0, N'MASCULINO')
INSERT [dbo].[SEXOS] ([id_sexo], [nombre]) VALUES (1, N'FEMENINO')
GO
SET IDENTITY_INSERT [dbo].[TIPOS_DE_EXPOSICION] ON 

INSERT [dbo].[TIPOS_DE_EXPOSICION] ([id_tipo_exposicion], [nombre], [descripcion]) VALUES (1, N'Permanente', N'Tienen vigencia durante varios meses y pueden ser visitadas dentro de los horarios de atención de cada sede.')
INSERT [dbo].[TIPOS_DE_EXPOSICION] ([id_tipo_exposicion], [nombre], [descripcion]) VALUES (2, N'Temporal', N'Suelen organizarse en fechas cercanas a ciertos acontecimientos de importancia general (por ejemplo, fechas patrias, día de la mujer, día del niño, etc.), tienen vigencia durante pocos días y pueden ser visitadas sólo en determinados horarios (definidos específicamente para cada exposición).')
SET IDENTITY_INSERT [dbo].[TIPOS_DE_EXPOSICION] OFF
GO
SET IDENTITY_INSERT [dbo].[TIPOS_DE_VISITA] ON 

INSERT [dbo].[TIPOS_DE_VISITA] ([id_tipo_visita], [nombre]) VALUES (1, N'Completa')
INSERT [dbo].[TIPOS_DE_VISITA] ([id_tipo_visita], [nombre]) VALUES (2, N'Por Exposición')
SET IDENTITY_INSERT [dbo].[TIPOS_DE_VISITA] OFF
GO
SET IDENTITY_INSERT [dbo].[USUARIOS] ON 

INSERT [dbo].[USUARIOS] ([id_usuario], [nombre_usuario], [contrasena], [caducidad], [id_empleado]) VALUES (1, N'milagros_ramos', N'ACD8141', CAST(N'2022-05-02' AS Date), 3)
INSERT [dbo].[USUARIOS] ([id_usuario], [nombre_usuario], [contrasena], [caducidad], [id_empleado]) VALUES (2, N'eduardo_suarez', N'AXQ8541', CAST(N'2021-07-03' AS Date), 5)
INSERT [dbo].[USUARIOS] ([id_usuario], [nombre_usuario], [contrasena], [caducidad], [id_empleado]) VALUES (3, N'juan_chavez', N'AHG7252', CAST(N'2022-02-01' AS Date), 7)
SET IDENTITY_INSERT [dbo].[USUARIOS] OFF
GO
ALTER TABLE [dbo].[ASIGNACIONES_DE_GUIA]  WITH CHECK ADD  CONSTRAINT [asig_guia_id_guia_fk] FOREIGN KEY([id_guia])
REFERENCES [dbo].[EMPLEADOS] ([id_empleado])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ASIGNACIONES_DE_GUIA] CHECK CONSTRAINT [asig_guia_id_guia_fk]
GO
ALTER TABLE [dbo].[ASIGNACIONES_DE_GUIA]  WITH CHECK ADD  CONSTRAINT [FKbng1b8wqvjgtvbtq5rk534waj] FOREIGN KEY([id_guia])
REFERENCES [dbo].[EMPLEADOS] ([id_empleado])
GO
ALTER TABLE [dbo].[ASIGNACIONES_DE_GUIA] CHECK CONSTRAINT [FKbng1b8wqvjgtvbtq5rk534waj]
GO
ALTER TABLE [dbo].[ASIGNACIONES_DE_GUIA_X_RESERVA]  WITH CHECK ADD  CONSTRAINT [asig_guia_x_reserva_id_asig_fk] FOREIGN KEY([id_asignacion])
REFERENCES [dbo].[ASIGNACIONES_DE_GUIA] ([id_asignacion])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ASIGNACIONES_DE_GUIA_X_RESERVA] CHECK CONSTRAINT [asig_guia_x_reserva_id_asig_fk]
GO
ALTER TABLE [dbo].[ASIGNACIONES_DE_GUIA_X_RESERVA]  WITH CHECK ADD  CONSTRAINT [asig_guia_x_reserva_id_reserva_fk] FOREIGN KEY([id_reserva])
REFERENCES [dbo].[RESERVAS_DE_VISITA] ([id_reserva])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ASIGNACIONES_DE_GUIA_X_RESERVA] CHECK CONSTRAINT [asig_guia_x_reserva_id_reserva_fk]
GO
ALTER TABLE [dbo].[ASIGNACIONES_DE_GUIA_X_RESERVA]  WITH CHECK ADD  CONSTRAINT [FK2cxakwy1difbbshcof82aiye3] FOREIGN KEY([id_asignacion])
REFERENCES [dbo].[ASIGNACIONES_DE_GUIA] ([id_asignacion])
GO
ALTER TABLE [dbo].[ASIGNACIONES_DE_GUIA_X_RESERVA] CHECK CONSTRAINT [FK2cxakwy1difbbshcof82aiye3]
GO
ALTER TABLE [dbo].[ASIGNACIONES_DE_GUIA_X_RESERVA]  WITH CHECK ADD  CONSTRAINT [FKm0ob1aw79f8f1w7usrnhm5e0t] FOREIGN KEY([id_reserva])
REFERENCES [dbo].[RESERVAS_DE_VISITA] ([id_reserva])
GO
ALTER TABLE [dbo].[ASIGNACIONES_DE_GUIA_X_RESERVA] CHECK CONSTRAINT [FKm0ob1aw79f8f1w7usrnhm5e0t]
GO
ALTER TABLE [dbo].[CAMBIOS_DE_ESTADO]  WITH CHECK ADD  CONSTRAINT [cambios_de_estado_res_id_est_fk] FOREIGN KEY([id_estado_reserva])
REFERENCES [dbo].[ESTADOS_DE_RESERVA] ([id_estado_reserva])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CAMBIOS_DE_ESTADO] CHECK CONSTRAINT [cambios_de_estado_res_id_est_fk]
GO
ALTER TABLE [dbo].[CAMBIOS_DE_ESTADO]  WITH CHECK ADD  CONSTRAINT [FK53jkqa4aljqst9kl9t4tguf4g] FOREIGN KEY([id_estado_reserva])
REFERENCES [dbo].[ESTADOS_DE_RESERVA] ([id_estado_reserva])
GO
ALTER TABLE [dbo].[CAMBIOS_DE_ESTADO] CHECK CONSTRAINT [FK53jkqa4aljqst9kl9t4tguf4g]
GO
ALTER TABLE [dbo].[CAMBIOS_DE_ESTADO_DE_RESERVAS]  WITH CHECK ADD  CONSTRAINT [cambios_de_estado_x_reserva_id_cambio_fk] FOREIGN KEY([id_cambio_de_estado])
REFERENCES [dbo].[CAMBIOS_DE_ESTADO] ([id_cambio_de_estado])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CAMBIOS_DE_ESTADO_DE_RESERVAS] CHECK CONSTRAINT [cambios_de_estado_x_reserva_id_cambio_fk]
GO
ALTER TABLE [dbo].[CAMBIOS_DE_ESTADO_DE_RESERVAS]  WITH CHECK ADD  CONSTRAINT [cambios_estado_x_reserva_id_reserva_fk] FOREIGN KEY([id_reserva])
REFERENCES [dbo].[RESERVAS_DE_VISITA] ([id_reserva])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CAMBIOS_DE_ESTADO_DE_RESERVAS] CHECK CONSTRAINT [cambios_estado_x_reserva_id_reserva_fk]
GO
ALTER TABLE [dbo].[CAMBIOS_DE_ESTADO_DE_RESERVAS]  WITH CHECK ADD  CONSTRAINT [FKdi3dd2jnp60bhev1klbfcp3ja] FOREIGN KEY([id_reserva])
REFERENCES [dbo].[RESERVAS_DE_VISITA] ([id_reserva])
GO
ALTER TABLE [dbo].[CAMBIOS_DE_ESTADO_DE_RESERVAS] CHECK CONSTRAINT [FKdi3dd2jnp60bhev1klbfcp3ja]
GO
ALTER TABLE [dbo].[CAMBIOS_DE_ESTADO_DE_RESERVAS]  WITH CHECK ADD  CONSTRAINT [FKqscs1bgopn1rq6lnid2kttv7b] FOREIGN KEY([id_cambio_de_estado])
REFERENCES [dbo].[CAMBIOS_DE_ESTADO] ([id_cambio_de_estado])
GO
ALTER TABLE [dbo].[CAMBIOS_DE_ESTADO_DE_RESERVAS] CHECK CONSTRAINT [FKqscs1bgopn1rq6lnid2kttv7b]
GO
ALTER TABLE [dbo].[DETALLES_DE_EXPOSICION]  WITH CHECK ADD  CONSTRAINT [dt_expo_id_expo_fk] FOREIGN KEY([id_exposicion])
REFERENCES [dbo].[EXPOSICIONES] ([id_exposicion])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DETALLES_DE_EXPOSICION] CHECK CONSTRAINT [dt_expo_id_expo_fk]
GO
ALTER TABLE [dbo].[DETALLES_DE_EXPOSICION]  WITH CHECK ADD  CONSTRAINT [dt_expo_id_obra_fk] FOREIGN KEY([id_obra])
REFERENCES [dbo].[OBRAS] ([id_obra])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DETALLES_DE_EXPOSICION] CHECK CONSTRAINT [dt_expo_id_obra_fk]
GO
ALTER TABLE [dbo].[DETALLES_DE_EXPOSICION]  WITH CHECK ADD  CONSTRAINT [FK44voft3n5a21dmlq0j24yjmho] FOREIGN KEY([id_obra])
REFERENCES [dbo].[OBRAS] ([id_obra])
GO
ALTER TABLE [dbo].[DETALLES_DE_EXPOSICION] CHECK CONSTRAINT [FK44voft3n5a21dmlq0j24yjmho]
GO
ALTER TABLE [dbo].[EMPLEADOS]  WITH CHECK ADD  CONSTRAINT [empleados_id_cargo_fk] FOREIGN KEY([id_cargo])
REFERENCES [dbo].[CARGOS] ([id_cargo])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[EMPLEADOS] CHECK CONSTRAINT [empleados_id_cargo_fk]
GO
ALTER TABLE [dbo].[EMPLEADOS]  WITH CHECK ADD  CONSTRAINT [empleados_id_sede_fk] FOREIGN KEY([id_sede])
REFERENCES [dbo].[SEDES] ([id_sede])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[EMPLEADOS] CHECK CONSTRAINT [empleados_id_sede_fk]
GO
ALTER TABLE [dbo].[EMPLEADOS]  WITH CHECK ADD  CONSTRAINT [empleados_id_sexo_fk] FOREIGN KEY([id_sexo])
REFERENCES [dbo].[SEXOS] ([id_sexo])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[EMPLEADOS] CHECK CONSTRAINT [empleados_id_sexo_fk]
GO
ALTER TABLE [dbo].[EMPLEADOS]  WITH CHECK ADD  CONSTRAINT [FKn14uiyrxw0j2y9vlluhlc7k9] FOREIGN KEY([id_cargo])
REFERENCES [dbo].[CARGOS] ([id_cargo])
GO
ALTER TABLE [dbo].[EMPLEADOS] CHECK CONSTRAINT [FKn14uiyrxw0j2y9vlluhlc7k9]
GO
ALTER TABLE [dbo].[EMPLEADOS]  WITH CHECK ADD  CONSTRAINT [FKnv1x586qjmsurun7o29gjmb4c] FOREIGN KEY([id_sede])
REFERENCES [dbo].[SEDES] ([id_sede])
GO
ALTER TABLE [dbo].[EMPLEADOS] CHECK CONSTRAINT [FKnv1x586qjmsurun7o29gjmb4c]
GO
ALTER TABLE [dbo].[EXPOSICIONES]  WITH CHECK ADD  CONSTRAINT [exposiciones_id_empleado_fk] FOREIGN KEY([id_empleado_creador])
REFERENCES [dbo].[EMPLEADOS] ([id_empleado])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[EXPOSICIONES] CHECK CONSTRAINT [exposiciones_id_empleado_fk]
GO
ALTER TABLE [dbo].[EXPOSICIONES]  WITH CHECK ADD  CONSTRAINT [exposiciones_id_tipo_expo_fk] FOREIGN KEY([id_tipo_exposicion])
REFERENCES [dbo].[TIPOS_DE_EXPOSICION] ([id_tipo_exposicion])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[EXPOSICIONES] CHECK CONSTRAINT [exposiciones_id_tipo_expo_fk]
GO
ALTER TABLE [dbo].[EXPOSICIONES]  WITH CHECK ADD  CONSTRAINT [FKbavvcqgix12lc24a6ulq32rxl] FOREIGN KEY([id_empleado_creador])
REFERENCES [dbo].[EMPLEADOS] ([id_empleado])
GO
ALTER TABLE [dbo].[EXPOSICIONES] CHECK CONSTRAINT [FKbavvcqgix12lc24a6ulq32rxl]
GO
ALTER TABLE [dbo].[EXPOSICIONES]  WITH CHECK ADD  CONSTRAINT [FKl2jl7l3rgt6hc3t4wttgvqyvl] FOREIGN KEY([id_tipo_exposicion])
REFERENCES [dbo].[TIPOS_DE_EXPOSICION] ([id_tipo_exposicion])
GO
ALTER TABLE [dbo].[EXPOSICIONES] CHECK CONSTRAINT [FKl2jl7l3rgt6hc3t4wttgvqyvl]
GO
ALTER TABLE [dbo].[EXPOSICIONES_X_RESERVAS]  WITH CHECK ADD  CONSTRAINT [expo_x_reserva_id_expo_fk] FOREIGN KEY([id_exposicion])
REFERENCES [dbo].[EXPOSICIONES] ([id_exposicion])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EXPOSICIONES_X_RESERVAS] CHECK CONSTRAINT [expo_x_reserva_id_expo_fk]
GO
ALTER TABLE [dbo].[EXPOSICIONES_X_RESERVAS]  WITH CHECK ADD  CONSTRAINT [expo_x_reserva_id_reserva_fk] FOREIGN KEY([id_reserva])
REFERENCES [dbo].[RESERVAS_DE_VISITA] ([id_reserva])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EXPOSICIONES_X_RESERVAS] CHECK CONSTRAINT [expo_x_reserva_id_reserva_fk]
GO
ALTER TABLE [dbo].[EXPOSICIONES_X_RESERVAS]  WITH CHECK ADD  CONSTRAINT [FKd92bymc3l91awnps7oqs5xg0l] FOREIGN KEY([id_exposicion])
REFERENCES [dbo].[EXPOSICIONES] ([id_exposicion])
GO
ALTER TABLE [dbo].[EXPOSICIONES_X_RESERVAS] CHECK CONSTRAINT [FKd92bymc3l91awnps7oqs5xg0l]
GO
ALTER TABLE [dbo].[EXPOSICIONES_X_RESERVAS]  WITH CHECK ADD  CONSTRAINT [FKg2j804479jn318mn6rgjvhfm6] FOREIGN KEY([id_reserva])
REFERENCES [dbo].[RESERVAS_DE_VISITA] ([id_reserva])
GO
ALTER TABLE [dbo].[EXPOSICIONES_X_RESERVAS] CHECK CONSTRAINT [FKg2j804479jn318mn6rgjvhfm6]
GO
ALTER TABLE [dbo].[EXPOSICIONES_X_SEDES]  WITH CHECK ADD  CONSTRAINT [expo_x_sede_id_expo_fk] FOREIGN KEY([id_exposicion])
REFERENCES [dbo].[EXPOSICIONES] ([id_exposicion])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EXPOSICIONES_X_SEDES] CHECK CONSTRAINT [expo_x_sede_id_expo_fk]
GO
ALTER TABLE [dbo].[EXPOSICIONES_X_SEDES]  WITH CHECK ADD  CONSTRAINT [expo_x_sede_id_sede_fk] FOREIGN KEY([id_sede])
REFERENCES [dbo].[SEDES] ([id_sede])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EXPOSICIONES_X_SEDES] CHECK CONSTRAINT [expo_x_sede_id_sede_fk]
GO
ALTER TABLE [dbo].[EXPOSICIONES_X_SEDES]  WITH CHECK ADD  CONSTRAINT [FKhm9qcmoc31w9kvsfetbo6t8lp] FOREIGN KEY([id_exposicion])
REFERENCES [dbo].[EXPOSICIONES] ([id_exposicion])
GO
ALTER TABLE [dbo].[EXPOSICIONES_X_SEDES] CHECK CONSTRAINT [FKhm9qcmoc31w9kvsfetbo6t8lp]
GO
ALTER TABLE [dbo].[EXPOSICIONES_X_SEDES]  WITH CHECK ADD  CONSTRAINT [FKrnq9x8hyd5cch4qf6w7hdaiqb] FOREIGN KEY([id_sede])
REFERENCES [dbo].[SEDES] ([id_sede])
GO
ALTER TABLE [dbo].[EXPOSICIONES_X_SEDES] CHECK CONSTRAINT [FKrnq9x8hyd5cch4qf6w7hdaiqb]
GO
ALTER TABLE [dbo].[HORARIOS]  WITH CHECK ADD  CONSTRAINT [horarios_id_dia] FOREIGN KEY([id_dia])
REFERENCES [dbo].[DIAS_DE_SEMANA] ([id_dia])
GO
ALTER TABLE [dbo].[HORARIOS] CHECK CONSTRAINT [horarios_id_dia]
GO
ALTER TABLE [dbo].[HORARIOS_DE_EMPLEADOS]  WITH CHECK ADD  CONSTRAINT [FK3h07xpw5herghtuna2otmgtto] FOREIGN KEY([id_empleado])
REFERENCES [dbo].[EMPLEADOS] ([id_empleado])
GO
ALTER TABLE [dbo].[HORARIOS_DE_EMPLEADOS] CHECK CONSTRAINT [FK3h07xpw5herghtuna2otmgtto]
GO
ALTER TABLE [dbo].[HORARIOS_DE_EMPLEADOS]  WITH CHECK ADD  CONSTRAINT [FKhthrc94vhgi658lj9gf26imra] FOREIGN KEY([id_horario])
REFERENCES [dbo].[HORARIOS] ([id_horario])
GO
ALTER TABLE [dbo].[HORARIOS_DE_EMPLEADOS] CHECK CONSTRAINT [FKhthrc94vhgi658lj9gf26imra]
GO
ALTER TABLE [dbo].[HORARIOS_DE_EMPLEADOS]  WITH CHECK ADD  CONSTRAINT [horarios_de_empleados_id_emp_fk] FOREIGN KEY([id_empleado])
REFERENCES [dbo].[EMPLEADOS] ([id_empleado])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HORARIOS_DE_EMPLEADOS] CHECK CONSTRAINT [horarios_de_empleados_id_emp_fk]
GO
ALTER TABLE [dbo].[HORARIOS_DE_EMPLEADOS]  WITH CHECK ADD  CONSTRAINT [horarios_de_empleados_id_horario_fk] FOREIGN KEY([id_horario])
REFERENCES [dbo].[HORARIOS] ([id_horario])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HORARIOS_DE_EMPLEADOS] CHECK CONSTRAINT [horarios_de_empleados_id_horario_fk]
GO
ALTER TABLE [dbo].[HORARIOS_DE_SEDES]  WITH CHECK ADD  CONSTRAINT [FK6oo59jabx3bfnodm7i9auiqch] FOREIGN KEY([id_sede])
REFERENCES [dbo].[SEDES] ([id_sede])
GO
ALTER TABLE [dbo].[HORARIOS_DE_SEDES] CHECK CONSTRAINT [FK6oo59jabx3bfnodm7i9auiqch]
GO
ALTER TABLE [dbo].[HORARIOS_DE_SEDES]  WITH CHECK ADD  CONSTRAINT [FKrla9gv0alxjfptf6bk8dupbtb] FOREIGN KEY([id_horario])
REFERENCES [dbo].[HORARIOS] ([id_horario])
GO
ALTER TABLE [dbo].[HORARIOS_DE_SEDES] CHECK CONSTRAINT [FKrla9gv0alxjfptf6bk8dupbtb]
GO
ALTER TABLE [dbo].[HORARIOS_DE_SEDES]  WITH CHECK ADD  CONSTRAINT [horarios_de_sedes_id_emp_fk] FOREIGN KEY([id_sede])
REFERENCES [dbo].[SEDES] ([id_sede])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HORARIOS_DE_SEDES] CHECK CONSTRAINT [horarios_de_sedes_id_emp_fk]
GO
ALTER TABLE [dbo].[HORARIOS_DE_SEDES]  WITH CHECK ADD  CONSTRAINT [horarios_de_sedes_id_horario_fk] FOREIGN KEY([id_horario])
REFERENCES [dbo].[HORARIOS] ([id_horario])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HORARIOS_DE_SEDES] CHECK CONSTRAINT [horarios_de_sedes_id_horario_fk]
GO
ALTER TABLE [dbo].[OBRAS]  WITH CHECK ADD  CONSTRAINT [FKen0o87wi3hlo5iwfo8tx7smcs] FOREIGN KEY([id_empleado_creador])
REFERENCES [dbo].[EMPLEADOS] ([id_empleado])
GO
ALTER TABLE [dbo].[OBRAS] CHECK CONSTRAINT [FKen0o87wi3hlo5iwfo8tx7smcs]
GO
ALTER TABLE [dbo].[PUBLICOS_X_EXPOSICIONES]  WITH CHECK ADD  CONSTRAINT [FK80a3nk79t1mlr2wvbauwvjlov] FOREIGN KEY([id_publico])
REFERENCES [dbo].[PUBLICOS_DESTINO] ([id_publico])
GO
ALTER TABLE [dbo].[PUBLICOS_X_EXPOSICIONES] CHECK CONSTRAINT [FK80a3nk79t1mlr2wvbauwvjlov]
GO
ALTER TABLE [dbo].[PUBLICOS_X_EXPOSICIONES]  WITH CHECK ADD  CONSTRAINT [FKkscd5ecs34who6gsh86ygvu7v] FOREIGN KEY([id_exposicion])
REFERENCES [dbo].[EXPOSICIONES] ([id_exposicion])
GO
ALTER TABLE [dbo].[PUBLICOS_X_EXPOSICIONES] CHECK CONSTRAINT [FKkscd5ecs34who6gsh86ygvu7v]
GO
ALTER TABLE [dbo].[PUBLICOS_X_EXPOSICIONES]  WITH CHECK ADD  CONSTRAINT [publi_x_expo_id_expo_fk] FOREIGN KEY([id_exposicion])
REFERENCES [dbo].[EXPOSICIONES] ([id_exposicion])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PUBLICOS_X_EXPOSICIONES] CHECK CONSTRAINT [publi_x_expo_id_expo_fk]
GO
ALTER TABLE [dbo].[PUBLICOS_X_EXPOSICIONES]  WITH CHECK ADD  CONSTRAINT [publi_x_expo_id_publi_fk] FOREIGN KEY([id_publico])
REFERENCES [dbo].[PUBLICOS_DESTINO] ([id_publico])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PUBLICOS_X_EXPOSICIONES] CHECK CONSTRAINT [publi_x_expo_id_publi_fk]
GO
ALTER TABLE [dbo].[RESERVAS_DE_VISITA]  WITH CHECK ADD  CONSTRAINT [FK6g5hb1s6swpypucbn4rq00v1] FOREIGN KEY([id_empleado_creador])
REFERENCES [dbo].[EMPLEADOS] ([id_empleado])
GO
ALTER TABLE [dbo].[RESERVAS_DE_VISITA] CHECK CONSTRAINT [FK6g5hb1s6swpypucbn4rq00v1]
GO
ALTER TABLE [dbo].[RESERVAS_DE_VISITA]  WITH CHECK ADD  CONSTRAINT [FK9qmnn943e1dg6lf1slajen23c] FOREIGN KEY([id_escuela])
REFERENCES [dbo].[ESCUELAS] ([id_escuela])
GO
ALTER TABLE [dbo].[RESERVAS_DE_VISITA] CHECK CONSTRAINT [FK9qmnn943e1dg6lf1slajen23c]
GO
ALTER TABLE [dbo].[RESERVAS_DE_VISITA]  WITH CHECK ADD  CONSTRAINT [FKjgfm7uj6dd05xpc19pivabjg7] FOREIGN KEY([id_sede])
REFERENCES [dbo].[SEDES] ([id_sede])
GO
ALTER TABLE [dbo].[RESERVAS_DE_VISITA] CHECK CONSTRAINT [FKjgfm7uj6dd05xpc19pivabjg7]
GO
ALTER TABLE [dbo].[RESERVAS_DE_VISITA]  WITH CHECK ADD  CONSTRAINT [reservas_de_visita_id_empleado_creador_fk] FOREIGN KEY([id_empleado_creador])
REFERENCES [dbo].[EMPLEADOS] ([id_empleado])
GO
ALTER TABLE [dbo].[RESERVAS_DE_VISITA] CHECK CONSTRAINT [reservas_de_visita_id_empleado_creador_fk]
GO
ALTER TABLE [dbo].[RESERVAS_DE_VISITA]  WITH CHECK ADD  CONSTRAINT [reservas_de_visita_id_escuela_fk] FOREIGN KEY([id_escuela])
REFERENCES [dbo].[ESCUELAS] ([id_escuela])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[RESERVAS_DE_VISITA] CHECK CONSTRAINT [reservas_de_visita_id_escuela_fk]
GO
ALTER TABLE [dbo].[RESERVAS_DE_VISITA]  WITH CHECK ADD  CONSTRAINT [reservas_de_visita_id_sede_fk] FOREIGN KEY([id_sede])
REFERENCES [dbo].[SEDES] ([id_sede])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[RESERVAS_DE_VISITA] CHECK CONSTRAINT [reservas_de_visita_id_sede_fk]
GO
ALTER TABLE [dbo].[SESIONES]  WITH CHECK ADD  CONSTRAINT [FK8cv9h8j6my5ft6atqfu9uurd] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[USUARIOS] ([id_usuario])
GO
ALTER TABLE [dbo].[SESIONES] CHECK CONSTRAINT [FK8cv9h8j6my5ft6atqfu9uurd]
GO
ALTER TABLE [dbo].[SESIONES]  WITH CHECK ADD  CONSTRAINT [sesiones_id_usuario_fk] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[USUARIOS] ([id_usuario])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SESIONES] CHECK CONSTRAINT [sesiones_id_usuario_fk]
GO
ALTER TABLE [dbo].[USUARIOS]  WITH CHECK ADD  CONSTRAINT [FKgqymju3ywshi678hefxf52ev6] FOREIGN KEY([id_empleado])
REFERENCES [dbo].[EMPLEADOS] ([id_empleado])
GO
ALTER TABLE [dbo].[USUARIOS] CHECK CONSTRAINT [FKgqymju3ywshi678hefxf52ev6]
GO
ALTER TABLE [dbo].[USUARIOS]  WITH CHECK ADD  CONSTRAINT [usuarios_id_empleado_fk] FOREIGN KEY([id_empleado])
REFERENCES [dbo].[EMPLEADOS] ([id_empleado])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[USUARIOS] CHECK CONSTRAINT [usuarios_id_empleado_fk]
GO
USE [master]
GO
